.filter {

}
.columnFilter {
  float: left;
  width: 30%;
}
.search{
  display: inline-block;
  margin-left: 8px;
}
.item{
  margin-right: 5px;
}
.box{
    padding: 5px;
    margin-bottom: 3px;
    box-shadow: 0px 3px 0px 0px rgb(232, 232, 232);
}
/*.star{
    background:  0px 0px space 0px 0px;
    width: 10px;
    height: 10px;
}
.star-number-1{
    width: calc(10px * 1);
}
.star-number-2{
    width: calc(10px * 2);
}
.star-number-3{
    width: calc(10px * 3);
}
.star-number-4{
    width: calc(10px * 4);
}
.star-number-5{
    width: calc(10px * 5);
}*/
