<div class="separator">
  <div class="columnFilter filter">
    <h4>Filtros</h4>
    <hr/>
    <h6 class="search">Nombre de Hotel</h6>
    <input type="text" [(ngModel)]="name" class=" form-control search"/>
    {{ name }}
    <button class="btn btn-outline-secondar search" type="button" (click)="getFilterHotels()">Aceptar</button>
    <hr/>
    <i class="fa fa-star"></i><h6 class="search"> Estrellas</h6>
    <hr/>
    <ul>
      {{ stars }}
      <li><input type="radio" name="stars" value=""  [(ngModel)]="stars" aria-label="Radio for following text input" class="item">Todas las Estrellas</li>
      <li><input type="radio" name="stars" value="5" [(ngModel)]="stars" aria-label="Radio for following text input" class="item"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
      <li><input type="radio" name="stars" value="4" [(ngModel)]="stars" aria-label="Checkbox for following text input" class="item"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
      <li><input type="radio" name="stars" value="3" [(ngModel)]="stars" aria-label="Checkbox for following text input" class="item"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
      <li><input type="radio" name="stars" value="2" [(ngModel)]="stars" aria-label="Checkbox for following text input" class="item"><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
      <li><input type="radio" name="stars" value="1" [(ngModel)]="stars" aria-label="Checkbox for following text input" class="item"><i class="fa fa-star"></i></li>
    </ul>
  </div>
</div>
