<div class="separator separator-color filter-box">
  <div class="box filter-top">
    <p class="title">Filtros</p>
  </div>
  <div class="box">
    <p class="p-title"><i class="icon icon-icon-search"></i>Nombre de Hotel</p>
    <div class="search-bar">
      <input  type="text" [(ngModel)]="name" class=" form-control search" (keyup)="getFilterHotels($event)" placeholder="Ingrese el nombre del hotel"/>
    </div>
  </div>
  <div class="box">
    <p class="p-title"><i class="icon icon-icon-star"></i>Estrellas</p>
    <div *ngFor="let item of starsArray">
      <input type="radio" name="stars" value={{item.value}} [(ngModel)]="stars" aria-label="Radio for following text input" class="item" (change)="getFilterHotels($event)">
      <i class="icon icon-icon-star-ranking icon-icon-star-ranking-{{item.value}}" *ngIf="item.value !== ''"></i>
      <p style="display:inline-block" *ngIf="item.value === ''">Todas las Estrellas</p>
    </div>
  </div>
</div>
