/* Icons from directory "" */
.icon-bathrobes,.icon-bathrobes\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-bathrobes-dims{width:32px;height:32px}
.icon-bathtub,.icon-bathtub\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-bathtub-dims{width:32px;height:32px}
.icon-beach-pool-facilities,.icon-beach-pool-facilities\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-beach-pool-facilities-dims{width:32px;height:32px}
.icon-beach,.icon-beach\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-beach-dims{width:32px;height:32px}
.icon-business-center,.icon-business-center\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-business-center-dims{width:32px;height:32px}
.icon-children-club,.icon-children-club\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-children-club-dims{width:32px;height:32px}
.icon-coffe-maker,.icon-coffe-maker\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-coffe-maker-dims{width:32px;height:32px}
.icon-deep-soaking-bathtub,.icon-deep-soaking-bathtub\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-deep-soaking-bathtub-dims{width:32px;height:32px}
.icon-fitness-center,.icon-fitness-center\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-fitness-center-dims{width:32px;height:32px}
.icon-garden,.icon-garden\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-garden-dims{width:32px;height:32px}
.icon-kitchen-facilities,.icon-kitchen-facilities\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-kitchen-facilities-dims{width:32px;height:32px}
.icon-newspaper,.icon-newspaper\:regular{background-image:url('icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-newspaper-dims{width:32px;height:32px}
.icon-nightclub,.icon-nightclub\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-nightclub-dims{width:32px;height:32px}
.icon-restaurant,.icon-restaurant\:regular{background-image:url('icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-restaurant-dims{width:32px;height:32px}
.icon-safety-box,.icon-safety-box\:regular{background-image:url('icons/icons.svg');background-position:0 -448px;background-repeat:no-repeat}
.icon-safety-box-dims{width:32px;height:32px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-search-dims{width:32px;height:32px}
.icon-separate-bredroom,.icon-separate-bredroom\:regular{background-image:url('icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-separate-bredroom-dims{width:32px;height:32px}
.icon-sheets,.icon-sheets\:regular{background-image:url('icons/icons.svg');background-position:0 -544px;background-repeat:no-repeat}
.icon-sheets-dims{width:32px;height:32px}
.icon-star,.icon-star\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-star-dims{width:32px;height:32px}
