.fondo{
  background-color: rgb(232, 232, 232);
}
.separator{
  margin-left: 150px;
  margin-top: 10px;
  background-color: white;
}
.filter-box{
  width: 90%;
}
.icon{
  display: inline-block;
  width: 15px;
  height:15px;
  margin-right: 5px;
}
.icon-icon-search{
  background:url('assets/icons/filters/search.svg');
}

.icon-icon-star{
  background:url('assets/icons/filters/star.svg');
}

.icon-ico-bathrobes{
  background: url('assets/icons/amenities/bathrobes.svg');
}

.icon-ico-restaurant{
  background: url('assets/icons/amenities/restaurant.svg');
}
.filter {
  float: left;
  width: 25%;
}
.principal {
  float:left;
  width: 65%;
  margin-top: 10px;
}
.contenedor{
  margin-right: 0px !important;
}
