.work-space {
  background-color: rgb(232, 232, 232);
  min-height: calc(100vh - 56px);
}

.separator {
  margin-left: 150px;
  margin-top: 10px;
}

.separator-color {
  background-color: white;
}

.filter-box {
  width: 90%;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url('assets/icons/icons.svg');
  background-size: 150px 150px;
  vertical-align: middle;
}

.icon-icon-search {
  background-position: -60px -90px;
}

.icon-icon-star {
  background-position: -90px -90px;
}

.icon.icon-icon-star-ranking {
  background-position: -120px -120px;
  background-repeat: space;
}

.icon-ico-bathrobes {
  background-position: -60px -60px;
}

.icon-ico-bathtub {
  background-position: 0px -60px;
}

.icon-ico-beach {
  background-position: -90px -60px;
}

.icon-ico-restaurant {
  background-position: -60px -0px;
}

.icon-ico-beach-pool-facilities {
  background-position: -120px -60px;
}

.icon-ico-business-center {
  background-position: -30px -60px;
}

.icon-ico-children-club {
  background-position: -90px -30px;
}

.icon-ico.coffe-maker {
  background-position: -60px -30px;
}

.icon-ico.coffe-maker {
  background-position: -60px -30px;
}

.icon-ico-deep-soaking-bathtub {
  background-position: -30px -30px;
}

.icon-ico-deep-soaking-bathtub {
  background-position: -30px -30px;
}

.icon-ico-fitness-center {
  background-position: -30px -90px;
}

.icon-ico-garden {
  background-position: 0px -30px;
}

.icon-ico-garden {
  background-position: 0px -30px;
}

.icon-ico-kitchen-facilities {
  background-position: -120px -30px;
}

.icon-ico-newspaper {
  background-position: -120px 0px;
}

.icon-ico-nightclub {
  background-position: -90px 0px;
}

.icon-ico-safety-box {
  background-position: -30px 0px;
}

.icon-ico-separate-bredroom {
  background-position: 0px 0px;
}

.icon-ico-separate-bredroom {
  background-position: 0px 0px;
}

.icon.ico-sheets {
  background-position: 0px -90px;
}

.icon-icon-star-ranking-1 {
  width: calc(30px * 1);
}

.icon-icon-star-ranking-2 {
  width: calc(30px * 2);
}

.icon-icon-star-ranking-3 {
  width: calc(30px * 3);
}

.icon-icon-star-ranking-4 {
  width: calc(30px * 4);
}

.icon-icon-star-ranking-5 {
  width: calc(30px * 5);
}

.filter {
  float: left;
  width: 25%;
}

.principal {
  float: left;
  width: 65%;
  margin-top: 10px;
}

.contain {
  margin-right: 0px !important;
  padding-left: 15px;
}

.p-title {
  color: rgb(21, 122, 177);
  font-weight: bold;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .principal {
    float: left;
    width: 90.5%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .filter {
    float: left;
    width: 98%;
    margin-left: 10px;
  }
  .separator {
    margin-left: 10px;
  }
}
