<div class="separator static-content ">
  <div class="card box-card" *ngFor="let hotel of _hotelsService.hotels">
    <div class="row ">
      <div class="col-md-4 col-sm-12 img">
        <img src="../assets/images/hotels/{{hotel.image}}" class="">
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="card-block px-3">
          <h5 class="p-title">{{hotel.name}}</h5>
          <i class="icon icon-icon-star-ranking icon-icon-star-ranking-{{hotel.stars}}"></i>
          <div>
            <i *ngFor="let item of hotel.amenities" class="icon icon-ico-{{item}}"></i>
          </div>
        </div>

      </div>
      <div class="col-md-3 px-3 col-sm-12">
        <div class="verticalLine p-center">
          <p>Precio por noche habitacion</p>
          <p class="p-price">ARS <span class="cost">{{hotel.price}}</span></p>
          <button class="btn btn-outline-secondar show" type="button">Ver hotel</button>
        </div>
      </div>
    </div>
  </div>
</div>
